body {
  background-color:#666666;
  background: '#919191';
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  border: 1px solid white;
  /*background-color:#666666;*/
  float: left;
  max-width: 800px;
  margin: 50px auto;
  margin:5px 5px 5px 5px;
}
div {
  width: 48%;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  padding: 5px;
  margin-right: 5px;
  margin:5px 5px 5px 5px;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
