/*p {
    font-size: 3.5em;
}*/

/*.row_1_of_3 {
    min-height: 250px; 
}
*/

.tile-content {
    text-align: center;
}

#motionDetectionStatus1, #motionDetectionStatus2 {
    width: 40%;
    margin-top: 20%;
}

.errorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}

.rightDownIMG {
    margin-top: 30%;
    display:inline-block;
    float: right;
}

.liquidFillGaugeText { 
    font-family: Helvetica; font-weight: bold; 
}
    
#temperatureBackGroundImage {
    background-image: url("../img/hotTemperature.jpg");
    height: 100%;
}

#temperatureText {
    float: right;
    color: black;
    /*font-size: 6em;*/
}

#temperatureGauge {
/*    margin: auto 0;*/
float: left;
}

.tileHeading {
    display: inline;

}

.imgHolder {
    height: 140px;
    margin-bottom: 10px;
}

.imgAndTextContainer {
    text-align: center;
/*    margin-right: 5px;
    margin-left: 5px;*/
}


.vegetableStatus {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.pumpStatus {
    float: left;
    height: 25px;
}

.dangerStatus {
    float: right;
    height: 25px;
}

.valueText {
    display: inline;
}
.font{
    font-size: 5rem;
    font-weight: bolder;
    color: black;
}
/*#chartHolder{
    height: 120px;
    margin-bottom: 8px;
}*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    height: 10%;
}
#drySoil{
    background: url(../img/drySoil.jpg);
    background-size: 100%;
    height: 100%;
}
#normalSoil{
    background: url(../img/normalSoil2.jpg);
    background-size: 100%;
    height: 100%;
}
#wetSoil{
    background: url(../img/wetSoil.jpg);
    background-size: 100%;
    height: 100%;
}
#SMofFlwrBackgroundImage{
    background-image: url(../img/SMoFflwr.jpg);
    background-size: 100%;
    height: 100%;
}
.textabsolute{
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    height: 100px;
}
.meterabsolute{
    position: absolute;
    top: 85px;
    right: 170px;
}
#soilmoistureVegErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#soilmoistureFlwrErrorImage {
    height: 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    visibility: hidden;
}
#humidityErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#humidityBackGroundImage {
    background-image: url(../img/highHumidity3.jpg);
    background-size: cover;
    height: 100%;
}
#waterLevelErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#waterLevelBackGroundImage{
    background-image: url(../img/wl1.jpeg);
    background-size: 100%;
    height: 100%;
}
#PhVegErrorImage{
    height: 30px;
    float: right;
    visibility: hidden;
}
#phVegBackGroundImage{
    background-image: url(../img/ph3.jpg);
    background-size: 100%;
    height: 100%;
}
#PhFlwrErrorImage{
    height: 30px;
    float: right;
    visibility: hidden;
}
#phFlwrBackGroundImage{
    background-image: url(../img/phFlwr.jpg);
    background-size: 100%;
    height: 100%;
    /*opacity: 0.5;*/
}
.svgcenter{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#foggNozzleStatus {
    height: 45px;
    float: right;
    visibility: visible;
    position: relative;
    top: 130px;  
}

#pumpStatusOfVegs {
    height: 60px;
    float: right;
    visibility: visible;
    position: relative;
    top: 130px;
}

#pumpStatusOfFlwrs {
    height: 60px;
    float: right;
    visibility: visible;
    position: relative;
    top: 130px;
}

#waterTapStatus {
    height: 40px;
    float: right;
    visibility: visible;
    position: relative;
    bottom: 50px;
}

#photoresistorBackGroundImage {
    background-image: url(../img/normalPhR.jpg);
    height: 100%;
}

#lightbulbStatus1 { /*lightbulbStatus1 is for Dr's balconey*/
    height: 30px;
    float: right;
    visibility: visible;
    position: relative;
    top: 25px;
}

#lightbulbStatus2 { /*lightbulbStatus2 is for conferenceroom's balconey*/
    height: 30px;
    float: left;
    visibility: visible;
    position: relative;
    top: 25px;
}

#mdBackgroundImage {
    background-image: url(../img/md.jpg);
    height: 100%;
}

#mdStatus1 { /*lightbulbStatus2 is for conferenceroom's balconey*/
    height: 30px;
    float: left;
    visibility: visible;
    position: relative;
    top: 95px;
}

#mdStatus2 { /*lightbulbStatus2 is for conferenceroom's balconey*/
    height: 40px;
    float: left;
    visibility: visible;
    position: relative;
    top: 95px;
}

#wattmeterErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}

#rainSensorBackgroundImage {
    background-image: url(../img/dryWood.jpg);
    height: 100%;
}

#rainSensorErrorImage{
    height: 30px;
    float: right;
    visibility: hidden;
}

/*#rainStatus {
    height: 30px;
    float: left;
    visibility: visible;
    position: relative;
    top: 95px;
}*/

#gasErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}

#gasBackgroundImage {
    background-image: url('');
    background-size: 100%;
    background-color: black;
    height: 100%;
}

.highcharts-background {
    fill: none;
    margin: 0 auto;
}


.highcharts-button {
    pointer-events: none;
    display: none;
} 

.highcharts-contextbutton {

} 

.highcharts-button-normal {

}

.highcharts-axis-title {
    
}

.highcharts-pane {
    margin: 0 auto;
}
/*meter::-webkit-meter-bar {
  box-shadow: 0 5px 5px -5px #333 inset;
  angel:;
}*/
/*meter::-webkit-meter-optimum-value {
  background: red;
}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
