/*p {
    font-size: 3.5em;
}*/

/*.row_1_of_3 {
    min-height: 250px; 
}
*/

/*.tile-content {
height: 100%;
width: 100%;
}*/
    
.liquidFillGaugeText { 
    font-family: Helvetica; font-weight: bold; 
}
    
#temperatureBackGroundImage {
    background-image: url("../img/hotTemperature.jpg");
    height: 100%;
}

#temperatureText {
    float: right;
    color: black;
    font-size: 6em;
}

#temperatureGauge {
/*    margin: auto 0;*/
}

#temperatureErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}

.tileHeading {
    display: inline;

}

.imgHolder {
    height: 140px;
    margin-bottom: 10px;
}

.imgAndTextContainer {
    text-align: center;
/*    margin-right: 5px;
    margin-left: 5px;*/
}

.vegetableStatus {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.pumpStatus {
    float: left;
    height: 25px;
}

.dangerStatus {
    float: right;
    height: 25px;
}

.valueText {
    display: inline;
}
.font{
    font-size: 5rem;
    font-weight: bolder;
    color: black;
}
#chartHolder{
    height: 120px;
    margin-bottom: 8px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    height: 10%;
}
#drySoil{
    background: url(../img/drySoil.jpg);
    background-size: cover;
    height: 100%;
}
#normalSoil{
    background: url(../img/normalSoil2.jpg);
    background-size: cover;
    height: 100%;
}
#wetSoil{
    background: url(../img/wetSoil.jpg);
    background-size: cover;
    height: 100%;
}
#SMofFlwr{
    background: url(../img/SMoFflwr.jpg);
    background-size: cover;
    height: 100%;
}
.textabsolute{
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    height: 100px;
}
.meterabsolute{
    position: absolute;
    top: 85px;
    right: 170px;
}
#soilmoistureVegErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#soilmoistureFlwrErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#humidityErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#humidityBackGroundImage {
    background-image: url(../img/highHumidity2.jpg);
    background-size: cover;
    height: 100%;
}
#waterLevelErrorImage {
    height: 30px;
    float: right;
    visibility: hidden;
}
#waterLevelBackGroundImage{
    background-image: url(../img/highHumidity2.jpg);
    background-size: cover;
    height: 100%;
}
#PhVegErrorImage{
    height: 30px;
    float: right;
    visibility: hidden;
}
#phVegBackGroundImage{
    background-image: url(../img/ph3.jpg);
    background-size: cover;
    height: 100%;
}
#PhFlwrErrorImage{
    height: 30px;
    float: right;
    visibility: hidden;
}
#phFlwrBackGroundImage{
    background-image: url(../img/phFlwr.jpg);
    background-size: cover;
    height: 100%;
    /*opacity: 0.5;*/
}
.svgcenter{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
/*meter::-webkit-meter-bar {
  box-shadow: 0 5px 5px -5px #333 inset;
  angel:;
}*/
/*meter::-webkit-meter-optimum-value {
  background: red;
}*/
