p {
    font-size: 3.5em;
}

/*.row_1_of_3 {
    min-height: 250px; 
}
*/
.imgHolder {
    height: 140px;
    margin-bottom: 10px;
}

.imgAndTextContainer {
    text-align: center;
/*    margin-right: 5px;
    margin-left: 5px;*/
}

.vegetableStatus {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.pumpStatus {
    float: left;
    height: 25px;
}

.dangerStatus {
    float: right;
    height: 25px;
}

.valueText {
    display: inline;
}
