html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    background: #1c1d1f;
    color: #c7cbd2;
    font-family:'misolight',"Trebuchet MS", Arial, sans-serif;
    min-width: 600px;
    width: 100%;
    min-height: 100%;
    margin: auto;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    color: #fff;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal; 	
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 180px 180px 180px 180px;
  grid-gap: 10px;
  background-color: #1c1d1f;;
  padding: 10px;
}

.grid-container > div {
  background-color: #25282d;
  /*text-align: center;*/
  padding: 11px 0;

}

.item6 {
    grid-area: 2 / 2 / 4 / 4;
}

.tile-header {
    height: 10px;
    line-height: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #4a4d52;
    padding: 0 10px;
    margin: 0 0 0 0;
}

.tileHeading {
    display: inline;
}

#chartHolder{
    height: 90px;
    margin-bottom: 0px;
 	display: inline;
}
.center{
    display: block;
    padding-left: 10px;
    margin-right: auto;
	padding-top: 10px;
    margin-bottom: auto;
    width: 50%;
    height: 20%;
}
.font{
    font-size: 3rem;
    font-weight: bolder;
    color: black;
}
.textabsolute{
    position: relative;
    bottom: 60px;
    left: 170px;
    width: 200px;
    height: 25px;
}

/*.meterabsolute{
    position: absolute;
    top: 85px;
    right: 170px;
}*/

#humidityBackGroundImage {
    background-image: url(../img/highHumidity3.jpg);
    background-size: cover;
    height: 100%;
}

#humidityErrorImage {
	position: relative;
    height: 20px;
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#foggNozzleStatus {
    height: 30px;
    float: right;
    visibility: visible;
    position: relative;
    bottom: 10px;  
    right: 10px;
}

#temperatureBackGroundImage {
    background-image: url("../img/normTemp.jpg");
    background-size: cover;
    height: 100%;
}

#temperatureText {
    float: right;
    color: black;
    font-size: 6em; 
}

#temperatureGauge {
/*    margin: auto 0;*/
}

#temperatureErrorImage {
	position: relative;
    height: 20px;
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#drySoil {
    background: url(../img/drySoil.jpg);
    background-size: cover;
    height: 100%;
}

#normalSoil{
    background: url(../img/normalSoil2.jpg);
    background-size: cover;
    height: 100%;
}
#wetSoil{
    background: url(../img/wetSoil.jpg);
    background-size: cover;
    height: 100%;
}

#soilmoistureVegErrorImage {
	position: relative;
    height: 20px;
    float: right;
    bottom: 10px;    
    visibility: hidden;
}

#SMofFlwr {
    background: url(../img/SMoFflwr.jpg);
    background-size: cover;
    height: 100%;

}

#soilmoistureFlwrErrorImage {
	position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#waterLevelBackGroundImage {
    background: url(../img/wl1.jpeg);
    background-size: cover;
    height: 100%;
}

#waterLevelErrorImage {
	position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

.svgcenter{
    display: block;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 1.2px;
    margin-bottom: auto;
}

#waterTapStatus {
    height: 40px;
    float: right;
    visibility: visible;
    position: relative;
    bottom: 50px;
    right: 10PX;
}

#photoresistorBackGroundImage {
    background-image: url(../img/normalPhR.jpg);
    background-size: cover;
    /*height: 100%;*/
}

.rightDownIMG {
    margin-top: 10%;
    display:inline-block;
    float: right;
    position: relative;
    right: 3%;
}

.errorImage { /*PhotoresistorErrorImage*/
    position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#mdBackgroundImage {
    background-image: url(../img/md.jpg);
    background-size: cover;
    height: 100%;
}

#motionDetectionStatus1, #motionDetectionStatus2 {
  /*  width: 5%;
    margin-top: 20%;*/
    height: 80px;
    width: 80px;
    float: right;
    visibility: visible;
    position: relative;
    top: 20%;
    right: 25%;
}

#wattmeterErrorImage {
    position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

svg {
    width: 40%;
    height: 40%
}

.highcharts-background { /*poshte tamame guage haye highchart background dare va baraye az beyn bordanesh in class ro qarar dadam*/
    fill: none;
    margin: 0 auto;
}

.highcharts-credits { /*payine gauge url e highchart b tore automatic namayesh dade mishod, ba in class kari krdm k dg namayesh dade nashe */
    display: none;
}

.highcharts-button {
    pointer-events: none;
    display: none;
}

.gaugeHolder { /*vase ineke in gauge e vamoondaro biaram vasat*/
    float: right;
    visibility: visible;
    position: relative;
    margin-bottom: 50%;
}

#rainSensorBackgroundImage {
    background-image: url(../img/dryWood.jpg);
    background-size: cover;
    height: 100%;
}

#rainSensorErrorImage{
    position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#gasBackgroundImage {
    background-image: url('');
    background-size: 100%;
    background-color: black;
    background-size: cover;
    height: 100%;
}

#gasErrorImage {
    position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#phVegBackGroundImage {
    background-image: url(../img/ph3.jpg);
    background-size: cover;
    height: 100%;
}

#PhVegErrorImage {
	position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#phFlwrBackGroundImage {
    background-image: url(../img/phFlwr.jpg);
    background-size: cover;
    height: 100%;
    /*opacity: 0.5;*/
}

#PhFlwrErrorImage{
	position: relative;
    height: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    float: right;
    bottom: 10px;
    visibility: hidden;
}

#chartBackgroundImage {

}