body {
  background-color:#25282d;
  /*#666666*/
  /*1c1d1f*/
  background: '#919191';
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  border: 0px solid white;
  background-color:#424242;
  /*#25282d*/
  float: left;
  max-width: 800px;
  margin: 50px auto;
  margin:5px 5px 5px 5px;
}
div {
  background-color:#4a4d52;
  width: 48%;
  border: 0px solid black;
  border-radius: 3px;
  float: left;
  padding: 5px;
  margin-right: 5px;
  margin:5px 5px 5px 5px;
}

h4 {
  font-size: 1rem;
  font-weight:normal;
  margin: 0 0 0.1em 0;
  color: black;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
