body {
  background-color:#25282d;
  /*#666666*/
  /*1c1d1f*/
  background: '#919191';
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  border: 0px solid white;
  background-color:#424242;
  /*#25282d*/
  float: right;
  max-width: 800px;
  margin: 50px auto;
  margin:5px 5px 5px 5px;
}
.wrapper {
  background-color:#4a4d52;
  width: 48%;
  border: 0px solid black;
  border-radius: 3px;
  float: left;
  padding: 5px;
  margin-right: 5px;
  margin:5px 5px 5px 5px;
}

h4 {
  font-size: 1rem;
  font-weight:normal;
  margin: 0 0 0.1em 0;
  color: black;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
.gol {
  height: 50px;
  width: 100%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}